/.bundle/
/.yardoc
/Gemfile.lock
/_yardoc/
/coverage/
/doc/
/pkg/
/spec/reports/
/tmp/
.idea/
.ruby-version
*.gem
/vendor/ruby
/rocker_docker
!*/.gitkeep
/docker-compose.yml
/config
/.rocker_docker.yml
/.rocker_docker
/.dockerignore
