/.bundle/
/.yardoc
/_yardoc/
/doc/
/Gemfile.lock
/coverage/
/pkg/
/spec/reports/
.rspec_status
/tmp/
.idea/
.ruby-version
*.gem
/vendor/ruby
!*/.gitkeep
/docker-compose.yml
/.dockerize.yml
/.dockerized
/dockerw
.dockerignore
